/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes strelka {
  from {
    left: -14px;
  }
  to {
    left: -18px;
  }
}

.like-icon {
    transform-origin: center;
    cursor: pointer;
}


.like-icon .core {
    fill: transparent;
    transition: fill 0.3s 0.03s linear ;
}

.like-icon:hover .core {
    fill: var(--black-heart-color);
    transition: fill 0.3s linear;
}

.like-icon .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--black-heart-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
    fill: var(--red-heart-color);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: var(--red-heart-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon .sparks {
    opacity: 0;
}

.like-icon.is-liked {
    animation: heart-scale 0.3s 0.1s alternate ease-in;
}

@keyframes heart-scale {
    from {
        scale: 1;
    }
    to {
        scale: 1.5;
    }
}

.like-icon.is-liked .contour {
    fill: var(--red-heart-color);
    transition: fill 0.3s 0.1s linear;
}

.like-icon.is-liked .sparks {
    animation: heart-sparks 0.3s 0.3s  1  alternate ease-in;
}

@keyframes heart-sparks {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.like-icon.is-liked .main-body {
    fill: var(--red-heart-color);
    transition: fill 0.3s 0.1s linear;
}

.like-icon.is-liked .core {
    fill: var(--red-heart-color);
    transition: fill 0.3 linear;
}