/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: 'Inter', Arial, sans-serif;
  --second-font-family: 'PressStart2P', fantasy;
  --wght: 400;
  --title-wght: 700;
  --wght-bold-light: 700;
  --themes-main-color: #000;
  --themes-background: #FFF;
  --color-of-animated-button: #fff;
  --background-image:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --section-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  --black-heart-color: black;
  --red-heart-color: #FF0000;

}